a.text-body-link {
  text-decoration: blue underline;
  color: blue;
}

a.text-body-link:visited {
  color: purple;
  text-decoration-color: purple;
}

.sponsor-logo-container {
  margin: auto;
}

.sponsor-logo {
  padding: 0.5em;
  width: 40%
}

.in-the-media__featured-image {
  display: flex;
  flex-flow: column wrap;
}

.join-us__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.home-hero__wrapper {
  display: flex;
  justify-content: center;
}

.donate-action__wrapper {
  display: flex;
  justify-content: center;
  margin: 3em;
}

.donate-action__faux-button {
  border-radius: 2em;
  box-shadow: 0.25em 0.25em #999;
}

.donate-hype-text__wrapper, .donate-thanks__wrapper {
  text-align: center;
}

.donate-marketing-gallery__row {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 4px;
}

/* Create two equal columns that sit next to each other */
.donate-marketing-gallery__column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.donate-marketing-gallery__column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a one column-layout instead of two columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#promotedGalleryWrapper .color-overlay, .promoted-gallery-wrapper .color-overlay, .banner-thumbnail-wrapper .color-overlay, .sqs-featured-posts-gallery .color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
    z-index: 99;
}

.desc-wrapper {
    -webkit-animation: feature-text-anim .75s ease-in-out;
    animation: feature-text-anim .75s ease-in-out;
    z-index: 100;
    position: relative;
    width: 100%;
    max-width: 956px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    /* padding: 32px; */
    text-align: center;
    text-rendering: optimizeLegibility;
}

#page {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
    margin: auto;
    max-width: 1020px;
    padding: 34px 32px;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
}